<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="随聊"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BingyanTest"
        tools:targetApi="31" >

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FriendInformation"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.UserInformation"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.AddFriend"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.NewFriend"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.GroupSet"
            android:exported="true"/>
        <receiver
            android:name=".broadcast.AddFriendBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.ADDFRIEND_BROADCAST"/>
            </intent-filter>
        </receiver>
        ...
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bingyantest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>